/* .form {
  width: 250px;
  height: 300px;
  border: 2px solid black;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todos ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
} */
